{% extends "base.html" %}

{% block head %}
  <meta charset="UTF-8">
  <title>Dropzone Upload</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Mitr&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
  <h1>Upload your files here.</h1>

  <div class="file_zone">
    <!-- Dropzone Form -->
    <form action="/file-process"
          class="dropzone"
          id="my-dropzone"
          enctype="multipart/form-data">
      <div class="fallback">
        <input name="file" type="file" multiple />
      </div>
    </form>
    <div id="file-list">
      <!-- Files will be dynamically loaded here -->

    </div>
    <form class="button" action="/file-upload" method="post">
      <label for="user">User:</label>
      <input type="text" id="user" name="user">
      <button type="submit">Upload Files</button>
    </form>
  </div>

  <!-- Optional: Uploaded Files Info -->
<!--  <div id="processed-files-info">-->
<!--    <h3>Processed Files:</h3>-->
<!--  </div>-->



<!--  <ul>-->
<!--    {% for file in items %}-->
<!--      <li>{{ file }}</li>-->
<!--    {% endfor %}-->
<!--  </ul>-->







  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
  <script src="{{ url_for('static', filename='js/dropzone-config.js') }}"></script>
{% endblock %}
